.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}

.sub h1 {
  margin-left: 4rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.btn {
  padding: 8px;
  width: 7rem;
}
